.swiper {
    margin-top: 30px;
    width: 79% !important;
}

.swiper-slide {
    width: 285px;
    height: 420px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 1px 6px rgba(0 , 0 , 0 , 0.1);
    background: #F8F7F7;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 283px !important;
    height: 283px !important;
    object-fit: cover;
}
