#slider-container {
    margin-top: 30px;
    width: 99% !important;
    height: auto !important;
}

.slider-head {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide a {
    width: 100% !important;
    height: 100% !important;
}

.swiper-slide a img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;

}
@media (max-width: 672px) {
    #slider-container {
        height: 10rem !important;
    }

}

@media (max-width: 1200px) {
    #slider-container {
        width: 100% !important;
    }
    .swiper-slide {
        height: auto !important;
    }
}
@media (max-width: 455px) {
    #slider-container {
        height: 7rem !important;
    }
    .swiper-slide {
        height: auto !important;
    }
}
